<section class="my-5 pt-3 ">
    <section class="container-fluid px-4 pt-4 pb-1 rounded w-75 mx-auto shadow bg-main-light mt-5">
        <div class="d-flex gap-3 align-items-center justify-content-center mb-4">
            <h1 class="text-center  h2">{{"wishlist.My wishlist" | translate}}</h1>
            <span class="fa-solid fa-heart fa-xl text-danger"></span>
        </div>
    
        @for (fav of favList ; track fav.id) {
            <div class="row border-bottom mb-2">
            <div class="col-md-1">
                <div><img [src]="fav.imageCover" class="w-100" [alt]="fav.title"></div>
            </div>
            <div class="col-md-11 ">
                <div>
                    <h3 class="h5 media-name w-100">{{fav.title}}</h3>
                  
                        <h3 class="h6 text-main">price: {{fav.price | currency:'GBP'}} </h3>
                        <button class="remove p-1 mb-1 rounded border-0 btn-sm " (click)="removeItem(fav.id)" >
                                <i class="fa-solid fa-trash mx-1 removei"></i> 
                                <span class="fw-medium text-white remove" >{{"wishlist.Remove" | translate}}</span>
                        </button>
                   
                    
                </div>
                <div class="count d-flex gap-2 align-items-center">
                    <button class="btn-main" (click)="addCart(fav.id)">{{"wishlist.Add To Cart" | translate}}</button>
                </div>
                
            </div>
        </div>
        }
       
    </section>
</section>
