<section class="container-fluid mt-5 pt-4 mb-5">
   
        <div class="row g-4 ">
            @for (b of brandsList; track $index) {
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="brand cr" (click)="getOneBrand(b._id)">
                    <img [src]="b.image" class="w-100" [alt]="b.slug">

                    <!-- not good for design -->
                    <!-- <h3 class="h5 text-center text-main">{{b.name}}</h3> -->
                </div>
            </div>
        }
        </div>
    
</section>